// sass --watch public/resources/scss/index.scss:public/resources/css/index.css

// Importing helper scss files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

// Importing section scss files
@import "sections/navigation";
@import "sections/banner";
@import "sections/about";
@import "sections/skills";
@import "sections/portfolio";
@import "sections/contact";
@import "sections/footer";

html {
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body,
#main {
  width: 100%;
}

.wrapper {
  width: 85%;
  height: 100%;
}
