#about {
  @include flex-box(center, stretch, row, flex);
  padding: 3rem 0;
  width: 100%;
}

.about__titel {
  font-size: 2.5rem;
  padding: 0 0 4rem 0;
}

.about__story-picture {
  @include flex-box(space-between, center, row, flex);
  width: 100%;
}

.story-picture__story {
  width: 75%;
  min-height: 300px;
  line-height: 1.5;
  padding: 2rem 5rem 2rem 2rem;
  border: 1px solid lightgray;
}

.story-picture__picture {
  align-self: flex-start;
  position: relative;
  bottom: 3rem;
  right: 3rem;
  width: 25%;
  height: 75vw - (75vw*0.75);
  border: 2px solid $cyan;
}
