#banner {
  @include flex-box(center, stretch, row, flex);
  background-image: url(../images/banner_bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  position: relative;
  top: 80px;
}

.banner__content {
  @include flex-box(center, center, column, flex);
  width: 100%;
  height: 100%;
  color: white;

  h1 {
    font-size: 2rem;
    padding: 2rem 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  p {
    border-left: 3px solid $cyan;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 2rem 0 2rem 2rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  a {
    @include flex-box(center, stretch, row, flex);
    position: relative;
    color: white;
    text-decoration: none;
    background-color: $red;
    padding: 1rem;
    border-radius: 2px;

    &:hover::before,
    &:hover::after {
      display: block;
    }

    &::before {
      content: '';
      display: none;
      position: absolute;
      z-index: 110;
      bottom: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      z-index: 110;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}
