#contact {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;
  padding: 3rem 0 0 0;
  background-color: $background;
  box-shadow: 0px 0px 10px 1px rgba(120,120,120,1);
}

.contact {
  &__title {
    font-size: 2.5rem;
    padding: 0 0 3rem 0;

    @include mq($breakpoint-menu) {
      text-align: center;
    }
  }

  &__information {
    @include flex-box(flex-start, flex-start, column, flex);
    width: 50%;

    @include mq($breakpoint-menu) {
      @include flex-box(flex-start, center, column, flex);
      text-align: center;
      width: 100%;
    }
  }

  &__social {
    @include flex-box(center, center, row, flex);
    width: 50%;
  }
}

.row {
  &--paddingbottom3 {
    padding-bottom: 3rem;

    @include mq($breakpoint-menu) {
      @include flex-box(flex-start, center, column, flex);
    }
  }
}

.information {
  &__name, &__street, &__zipcode {
    line-height: 1.5;
    color: $dark-gray;
    padding-left: 2rem;

    @include mq($breakpoint-menu) {
      padding-left: 0;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1.2rem;
    color: $cyan;
  }

  &__address {
    @include flex-box(flex-start, stretch, column, flex);
    padding: 0 0 2rem 0;
  }

  &__phone, &__mail {
    line-height: 1.5;
    text-decoration: none;
    color: $dark-gray;

    i {
      text-align: center;
      width: 2rem;
    }

    &:hover i {
      color: $red;
    }
  }
}

.social {
  &__icon{
    margin: 2rem;

    i {
      color: $dark-gray;
    }

    .fa-github {
      &:hover {
        color: black;
      }
    }

    .fa-linkedin-in {
      &:hover {
        color: $linkedin;
      }
    }
  }
}

iframe {
  margin-bottom: -3px;
  border-top: 2px solid lightgray;
}
