#navigation {
  @include flex-box(center, stretch, row, flex);
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  //border-bottom: 2px solid $cyan;
}

.navigation__container {
  @include flex-box(space-between, center, row, flex);
  width: 100%;
  height: 80px;
}

.navigation__logo {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
  a {
    @include flex-box(flex-start, center, row, flex);
    text-decoration: none;
    height: 100%;
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

.logo__first-name {
  color: $cyan2;
}

.logo__last-name {
  color: $dark-gray;
  padding: 0 0 0 0.5rem;
}

.navigation__menu {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
}

.menu__item {
  @include flex-box(center, center, row, flex);
  position: relative;
  height: 100%;
  color: $blackish;
  text-decoration: none;
  padding: 0 1rem;
  //transition: all 300ms ease;

  &:hover {
    background-color: $cyan2;
    color: white;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    z-index: 110;
    bottom: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  &::after {
    content: '';
    display: none;
    position: absolute;
    z-index: 110;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
