#navigation {
  @include flex-box(center, stretch, row, flex);
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  //border-bottom: 2px solid $cyan;
}

.navigation__container {
  @include flex-box(space-between, center, row, flex);
  width: 100%;
  height: 80px;
}

.navigation__logo {
  @include flex-box(flex-start, stretch, row, flex);
  a {
    @include flex-box(flex-start, stretch, row, flex);
    text-decoration: none;
    h1 {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.logo__first-name {
  color: $cyan;
}

.logo__last-name {
  color: $dark-gray;
  padding: 0 0 0 0.5rem;
}

.navigation__menu {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
}

.menu__item {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
  color: $blackish;
  text-decoration: none;
  padding: 0 1rem;
  transition: all 300ms ease;

  &:hover {
    background-color: $cyan;
    color: white;
  }
}
