#navigation {
  @include flex-box(center, stretch, row, flex);
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid lightgray;
}

.navigation__container {
  @include flex-box(space-between, center, row, flex);
  width: 100%;
  height: 80px;
}

.navigation__logo {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
  a {
    @include flex-box(flex-start, center, row, flex);
    text-decoration: none;
    height: 100%;
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

.logo__first-name {
  color: $cyan;
}

.logo__last-name {
  color: $dark-gray;
  padding: 0 0 0 0.5rem;
}

.navigation__menu {
  @include flex-box(flex-start, center, row, flex);
  height: 100%;
}

.menu__button {
  @include flex-box(center, center, row, flex);
  position: relative;
  height: 100%;
  color: $blackish;
  text-decoration: none;
  padding: 0 1rem;

  &:hover {
    background-color: $cyan;
    color: white;
  }
}
