#skills {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  background-color: $background;
  box-shadow: 0px 0px 10px 1px rgba(120,120,120,1);
  padding: 2rem 0;
}

.skills__container {
  @include flex-box(space-between, stretch, row, flex);
  flex-wrap: wrap;
  padding: 2rem;
}

.skills__tile {
  @include flex-box(flex-start, center, row, flex);
  color: white;
  margin: 0.5rem;
  transition: transform 300ms ease;
}

.tile__icon {
  width: 2.5rem;
  text-align: center;
}

.icon--paddingone {
  padding: 1rem;
}

.icon--paddinghalf {
  padding: 0.5rem;
}

.tile__name {
  font-weight: 500;
}

.tile--width30 {
  width: 30%;
}

.tile--hover {
  &:hover {
    transform: scale(1.05);
  }
}

.tile--html {
  background-color: $html;
}

.tile--css {
  background-color: $css;
}

.tile--js {
  background-color: $js;
}

.tile--git {
  background-color: $git;
}

.tile--sass {
  background-color: $sass;
}

.tile--wp {
  background-color: $wp;
}
