#skills {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  background-color: $background;
  box-shadow: 0px 0px 10px 1px rgba(120,120,120,1);
  padding: 2rem 0;
}

.skills {
  &__container{
    @include flex-box(center, stretch, row, flex);
    flex-wrap: wrap;
    padding: 2rem;

    @include mq($breakpoint-menu) {
      padding: 0 2rem;
    }
  }

  &__tile {
    @include flex-box(flex-start, center, row, flex);
    color: white;
    margin: 0.5rem;
    transition: transform 300ms ease;
  }
}

.tile {
  &__icon {
    width: 2.5rem;
    text-align: center;
  }

  &__name {
    font-weight: 500;
  }

  &--width30 {
    width: 30%;

    @include mq($breakpoint-menu) {
      width: 45%;
    }

    @include mq($breakpoint600) {
      width: 100%;
    }
  }

  &--hover {
    &:hover {
      transform: scale(1.05);
    }
  }

  &--html {
    background-color: $html;
  }

  &--css {
    background-color: $css;
  }

  &--js {
    background-color: $js;
  }

  &--git {
    background-color: $git;
  }

  &--sass {
    background-color: $sass;
  }

  &--wp {
    background-color: $wp;
  }

  &--cli {
    background-color: $cli;
  }

  &--responsive {
    background-color: $dark-gray;
  }
}

.icon {
  &--paddingone {
    padding: 1rem;

    @include mq($breakpoint-menu) {
      padding: 0.5rem;
    }
  }

  &--paddinghalf {
    padding: 0.5rem;
  }
}
