#navigation {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid lightgray; }

.navigation__container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 80px; }

.navigation__logo {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100%; }
  .navigation__logo a {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    text-decoration: none;
    height: 100%; }
    .navigation__logo a h1 {
      font-size: 2rem;
      font-weight: 500; }

.logo__first-name {
  color: #00b98c; }

.logo__last-name {
  color: #343c3f;
  padding: 0 0 0 0.5rem; }

.navigation__menu {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100%; }

.menu__button {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: relative;
  height: 100%;
  color: #191c23;
  text-decoration: none;
  padding: 0 1rem; }
  .menu__button:hover {
    background-color: #00b98c;
    color: white; }

#banner {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/banner_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 580px;
  width: 100%;
  box-shadow: 0px 0px 10px 1px #787878; }

.banner__container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  color: white; }

.banner__title {
  font-size: 2rem;
  padding: 2rem 0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.banner__story {
  border-left: 3px solid #00b98c;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 2rem 0 2rem 2rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.banner__button {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #ed2300;
  padding: 1rem;
  border-radius: 2px; }

#about {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding: 3rem 0;
  width: 100%; }

.about__titel {
  font-size: 2rem;
  padding: 0 0 4rem 0; }

.about__story-picture {
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%; }

.story-picture__story {
  width: 70%;
  line-height: 1.5;
  padding: 2rem 5rem 2rem 2rem;
  border: 1px solid lightgray; }

.story-picture__picture {
  position: relative;
  bottom: 3rem;
  right: 3rem;
  width: 30%;
  height: 24vw;
  border: 2px solid #00b98c;
  box-shadow: 0px 0px 10px 1px #787878; }

#skills {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  background-color: #f2f2f2; }

#portfolio {
  width: 100%; }

#contact {
  width: 100%; }

#footer {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%; }

html {
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

body,
#main {
  width: 100%; }

.wrapper {
  width: 85%;
  height: 100%; }

.button--hover-diamond:hover::before, .button--hover-diamond:hover::after {
  display: block; }
.button--hover-diamond::before {
  content: '';
  display: none;
  position: absolute;
  z-index: 110;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }
.button--hover-diamond::after {
  content: '';
  display: none;
  position: absolute;
  z-index: 110;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

/*# sourceMappingURL=index.css.map */
